<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The O'Quinn Frim website</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <div class="header-dark" style="background-image:url(&quot;assets/img/Henderson_County,_NC_1905_Courthouse_darker_small.jpg&quot;);">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background:linear-gradient(0.25turn, #3f87a6, #43a748);">
                <div class="container"><a class="navbar-brand" href="#" style="font-size:19px;"><img src="assets/img/OQuinn logo small.png" style="width:97px;">The O'Quinn Firm</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label></div>
                        </form><span class="navbar-text"><a href="#" class="login" style="color:rgb(255,255,255);font-size:20px;">Email: Counsel@gmail.com</a></span>
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:rgb(255,255,255);font-size:20px;">Call: (509) LAW-HELP<br></a></li>
                        </ul>
                </div>
        </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center" style="font-size:39px;color:rgb(255,255,255);">The Law Office Of Sean O'Quinn</h1><img class="img-fluid d-flex justify-content-center align-items-center align-content-center align-self-center mx-auto" src="assets/img/1752228_1256765671.jpg" style="padding:0px;margin:0px;">
                    <p class="lead text-center"
                        style="color:rgb(255,255,255);height:29px;font-size:26px;font-weight:bold;">Sean F O'Quinn</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><em>The O'Quinn Firm is focused on service, expertise, and integrity. We believe that trust is earned.</em></h2>
                <p class="text-center">The O'Quinn firm is a boutique trial practice firm. We work hard to develop an individual relationship with all of our clients. Maintaining the trust and respect of our clients is crucial to resolving cases in a way that our clients feel
                    comfortable with. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Primary</a><button class="btn btn-light" type="button">Secondary</button></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>